#gear{
    animation-name: ckw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    top:0px;
    left:0px;
}
#gear2{
    animation-name: ccw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    top: 100px;
    position: absolute;
    top: 42px;
    left: 70px;
    margin-top:15%;
    margin-left:45%;
}
#gear3{
    animation-name: cw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    top: 100px;
    position: absolute;
    top: 80px;
    margin-top:15%;
    margin-left:45%;

    left: 0px;
}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ccw {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
  }}
 @keyframes cw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}