.header{
  margin-top: 100px;
  text-align: center;

}
.inprog{
  color:rgb(78, 78, 78);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}
.progbar{
  margin-left:10%;
  margin-right:10%;
  margin-top:10%;
}
.cardlayout{
  text-align: center;
}
.card{
  display:inline-block;
  margin-left:20px;
}
